In [1]:
import pandas as pd
import numpy as np

In [71]:
#download data
com_spnd = pd.read_excel("comspnd.xlsx")
pctfemale = pd.read_excel("womenonbd.xlsx")

In [73]:
#drop unnecessary columns
com_spnd.drop(['Ticker', 'Data State', "Field Mnemonic", "Field ID", "2022"], axis = 1, inplace = True)

In [82]:
#drop raws containing missing values in each columns 
com_spnd_cleaned = com_spnd.dropna(subset = ["2021","2020","2019","2018"]).reset_index(drop = True)

In [75]:
#description contains space before the letter, so make sure to eliminate it

com_spnd_cleaned["Description"] = com_spnd_cleaned["Description"].str.replace(" ", "").astype("str")

#find Media, Apparel/Textile prods, Automotive, Homebuilders, Travel & Lodging, Consumer Products, Oil, Gas & Coal, 
#Asset Management, Life Insurance, Real Estate,

In [76]:
com_spnd_cleaned

,Description,2021,2020,2019,2018
0,CommunitySpending/Sales(%)-Communications,0.43564,0.511556,0.450339,0.559949
1,Media,0.43564,0.511556,0.450339,0.559949
2,Cable&Satellite,0.463977,0.513692,0.414808,0.587681
3,ComcastCorp,0.463977,0.513692,0.414808,0.587681
4,Entertainment,0.43564,0.509421,0.485871,0.559949
...,...,...,...,...,...
580,PublicPowerCorpSA,0.094082,0.168407,0.051342,0.042009
581,RWEAG,0.021977,0.012785,0.020952,0.012681
582,SSEPLC,0.130109,0.15528,0.120578,0.112963
583,TernaEnergySA,0.456333,0.525395,0.282473,0.186413
584,CanadaPowerGeneration,(BI export error occurred),(BI export error occurred),(BI export error occurred),(BI export error occurred)

In [77]:
#do the same process to women on board dataframe
pctfemale.drop(['Ticker', 'Data State', "Field Mnemonic", "Field ID", "2022"], axis = 1, inplace = True)

In [81]:
pctfemale_cleaned = pctfemale.dropna(subset = ["2021","2020","2019","2018"]).reset_index(drop = True)

In [79]:
pctfemale_cleaned["Description"] = pctfemale_cleaned["Description"].str.replace(" ", "").astype("str")

In [80]:
pctfemale_cleaned

                      Description       2021       2020     2019       2018
0    %WomenonBoard-Communications    26.7857  22.222225   22.239    19.6921
1                           Media         25   19.44445  17.6923   13.24785
2                 Cable&Satellite         25    22.2222       20    11.1111
3                    AlticeUSAInc    11.1111    11.1111  11.1111    11.1111
4                     CableOneInc         60  54.545502       40       37.5
..                            ...        ...        ...      ...        ...
980             TenagaNasionalBhd  27.272699  36.363602       50  44.444401
981      TohokuElectricPowerCoInc      18.75       12.5  6.66667    5.88235
982                     VectorLtd    28.5714    16.6667  28.5714       37.5
983                    YTLCorpBhd         25         25       25  18.181801
984      YTLPowerInternationalBhd         25         25       25         25

[985 rows x 5 columns]

In [117]:
#now make sure that two dataset has the same company with no missing data
#for the last four years and drop duplicated values
mask = pctfemale_cleaned["Description"].isin(com_spnd_cleaned["Description"])
pctfemaleData = pctfemale_cleaned.loc[mask].reset_index(drop = True).drop_duplicates(subset = "Description", 
                                                                                    keep = "last", 
                                                                                    ignore_index = True)

In [118]:
pctfemaleData["Description"].duplicated().sum()

0

In [119]:
#do the samething for community spending
mask = com_spnd_cleaned["Description"].isin(pctfemaleData["Description"])
com_spndData = com_spnd_cleaned.loc[mask].reset_index(drop = True).drop_duplicates(subset = "Description", 
                                                                                    keep = "last", 
                                                                                    ignore_index = True)

In [120]:
com_spndData["Description"].duplicated().sum()

0

In [121]:
com_spndData

              Description      2021      2020      2019      2018
0                   Media   0.43564  0.511556  0.450339  0.559949
1         Cable&Satellite  0.463977  0.513692  0.414808  0.587681
2             ComcastCorp  0.463977  0.513692  0.414808  0.587681
3           Entertainment   0.43564  0.509421  0.485871  0.559949
4        WaltDisneyCo/The   0.43564  0.509421  0.485871  0.559949
..                    ...       ...       ...       ...       ...
345  NaturgyEnergyGroupSA  0.031707   0.04666  0.038534  0.045195
346     PublicPowerCorpSA  0.094082  0.168407  0.051342  0.042009
347                 RWEAG  0.021977  0.012785  0.020952  0.012681
348                SSEPLC  0.130109   0.15528  0.120578  0.112963
349         TernaEnergySA  0.456333  0.525395  0.282473  0.186413

[350 rows x 5 columns]

In [ ]:
pctfemaleData #complete
com_spndData #complete

In [230]:
#the data contained string so identify and eliminate it
(pctfemale["2019"] == '(BI export error occurred)').sum()

1

In [242]:
#this returns the value without string
mask = com_spndData["2021"] == "(BI export error occurred)"
com_spndFin = com_spndData.loc[~mask].reset_index(drop = True)

In [243]:
mask = pctfemaleData["2021"] == "(BI export error occurred)"
pctfemaleFin = pctfemaleData.loc[~mask].reset_index(drop = True)

In [245]:
#add new columns by taking the average of values for the four years
com_spndFin["Average"] = (
com_spndFin["2021"] + com_spndFin["2020"] + com_spndFin["2019"] + 
com_spndFin["2018"])/4

In [249]:
com_spndFin

In [247]:
pctfemaleFin["Average"] = (
pctfemaleFin["2021"] + pctfemaleFin["2020"] + pctfemaleFin["2019"] + 
pctfemaleFin["2018"])/4

In [248]:
pctfemaleFin

,Description,2021,2020,2019,2018,Average
0,Media,25,19.44445,17.6923,13.24785,18.84615
1,Cable&Satellite,25,22.2222,20,11.1111,19.583325
2,ComcastCorp,30,30,20,20,25.0
3,Entertainment,25,16.6667,15.3846,15.3846,18.108975
4,WaltDisneyCo/The,41.666698,40,44.444401,36.363602,40.618675
...,...,...,...,...,...,...
344,NaturgyEnergyGroupSA,25,25,8.33333,8.33333,16.666665
345,PublicPowerCorpSA,18.181801,9.09091,9.09091,9.09091,11.363633
346,RWEAG,30,30,30,30,30.0
347,SSEPLC,50,40,30,30,37.5
348,TernaEnergySA,27.272699,0,0,0,6.818175

In [ ]:
#we can subdivide data into sector and sort the data in the ascending order
#and choose the top 50% and include them in the ESG portfolio as treatment
#then we can choose rest of them and treat them as controlled. 
#then take the average performance of the stock in the controlled group 
#and treatment to see the effect. 
#take four year average stock performance and control for the size since 
#size can positively affect the ESG score so choose it as an instrument
#in the first stage.

In [253]:
pctfemaleFin.to_excel("WomenOnBoard.xlsx")

In [252]:
com_spndFin.to_excel("ComSpend.xlsx")